/*editamos el footer*/
.pie-pagina-index{
    background-color: #99DDC8;
    width: 100%;
    margin-top: 150px;
    padding: 15px;
    @media(max-width:576px){
        margin-top: 200px;
    }
}

/*editamos pie de pagina de los demas*/
.pie-pagina{
    background-color: #8dd3bd;
    width: 100%;
    padding: 15px;
}

/*div con las redes del footer*/
.redes-sociales{
    color: gray;
    font-weight: bold;
    text-decoration: none;
}
/*modificamos el instagram del footer*/
.redes-sociales-insta{
    color: gray;
    text-decoration: none;
    font-weight: bold;
}
/*editamos el copyright del pie de pagina*/
.pie-pagina-parrafo{
    color: gray;
    font-weight: bold;
}