/*editamos el footer*/
.pie-pagina-index{
    background-color: $color-navegador;
    width: 100%;
    margin-top: 150px;
    padding: 15px;
    @media(max-width:576px){
        margin-top: 200px;
    }
}

/*editamos pie de pagina de los demas*/
.pie-pagina{
    background-color: $color-navegador;
    width: 100%;
    padding: 15px;
}

/*div con las redes del footer*/
.redes-sociales{
    color: $color-parrafos;
    font-weight: bold;
    text-decoration: none;
}

/*modificamos div con icono y numero de telefono*/
.redes-sociales-telefono{
    margin-bottom: 0px;
    transition: 0.5s;
    &:hover{
        text-decoration: underline;
        color: darkblue;
        transform: translate(0px,-3px);
    }
}
/*modificamos numero de telefono del footer*/
.redes-sociales-numero-telefono{
    margin-left: 5px;
    margin-bottom: 4px;
}

/*modificamos el instagram del footer*/
.redes-sociales-insta{
    color: $color-parrafos;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    margin-bottom: 4px;
    &:hover{
        transform: translate(0px,-3px);
        color: darkblue;
    }
}
/*editamos el copyright del pie de pagina*/
.pie-pagina-parrafo{
    color: $color-parrafos;
    font-weight: bold;
}
/*editamos icono sobre*/
.redes-sociales-mail{ 
    color: white; 
    transition: 0.5s;
    &:hover{
        transform: translate(0px,-3px);
        color: darkblue;
    }
}
