/*modificamos el navegador*/
.container-fluid{
    background-color: $color-navegador;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 10px;
}

/* imagen adentro del Navbar*/
.navbar-brand{
    width: 150px;
    height: 60px;
    margin: 10px;
    transition: 1s;
    &:hover{
        transform: scale(1.2);
        transition: 1s;
    }
}

/*modificamos li de la navbar*/
.nav-item{
    font-size: 15px;
    color: $color-parrafos;
    padding-right: 10px;
}
/*links adentro del nav bar*/
.nav-link {
    font-size: 15px;
    color: $color-parrafos;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 25px;
    /*cuando posicionamos el mouse adentro del link*/
    &:hover{
        background-color: white;
        transition: 1s;
    }
}

