$color-navegador: #77ab59;
$color-principal: #36802d;
$color-secundario: #23691a;
$color-terciario: #234d20;
$color-loft-encabezado: #c9df8a;
$color-parrafos: white;
$color-contactos: #36802d;
$border-img: 1px solid gray;
$parrafos-size: 17px;