$color-navegador: #99DDC8;
$color-principal: #659b5e;
$color-secundario: #556F44;
$color-terciario: #283F3B;
$color-loft-encabezado: #95BF74;
$color-parrafos: white;
$color-contactos: #5c8578;
$border-img: 1px solid gray;
$parrafos-size: 17px;