@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo-ubic, .titulo-experiencias, #incluye-indice, #loft-indice4, #loft-indice3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-variant: small-caps;
  text-decoration: underline;
  text-align: left;
}

/*modificamos el navegador*/
.container-fluid {
  background-color: #99DDC8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px;
}

/* imagen adentro del Navbar*/
.navbar-brand {
  width: 150px;
  height: 60px;
  margin: 10px;
}

/*modificamos li de la navbar*/
.nav-item {
  font-size: 15px;
  color: white;
  padding-right: 10px;
}

/*links adentro del nav bar*/
.nav-link {
  font-size: 15px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 25px;
  /*cuando posicionamos el mouse adentro del link*/
}
.nav-link:hover {
  background-color: rgb(141, 138, 138);
  transition: 1s;
}

/*header con un h1 y un parrafo*/
.encabezado-index {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 15px;
}

/*modificamos el h1 del encabezado*/
.encabezado-index-titulo {
  font-size: 20px;
  color: #95BF74;
  font-weight: bolder;
}
@media (max-width: 768px) {
  .encabezado-index-titulo {
    font-size: 25px;
  }
}

/*parrafo del encabezado del index*/
.encabezado-index-par {
  font-size: 15px;
  color: gray;
}
@media (max-width: 768px) {
  .encabezado-index-par {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .encabezado-index-par {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .body {
    width: 100%;
  }
}
/* seccion con imagen y div*/
.seccion-ofrecemos {
  width: 100%;
  height: 700px;
  display: flex;
  /*aplicamos medias query para pantallas desde 1024px a 992px*/
}
@media (max-width: 1024px) {
  .seccion-ofrecemos {
    height: 1000px;
    margin-bottom: 0px;
  }
}
@media (max-width: 576px) {
  .seccion-ofrecemos {
    height: 100%;
  }
}

/*img dentro de la seccion*/
.seccion-ofrecemos-img {
  height: 80%;
  width: 70%;
  margin-left: 100px;
}
@media (max-width: 1024px) {
  .seccion-ofrecemos-img {
    height: 50%;
    width: 100%;
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .seccion-ofrecemos-img {
    height: 40%;
  }
}

/*div con el h1 y parrafors*/
.seccion-ofrecemos-texto {
  background-color: #659b5e;
  width: 500px;
  height: 500px;
  padding: 15px;
  position: absolute;
  left: 600px;
  top: 250px;
  /*aplicamos medias query para pantallas desde 1024px a 992px*/
}
@media (max-width: 1024px) {
  .seccion-ofrecemos-texto {
    width: 100%;
    height: 400px;
    left: 0px;
    top: 750px;
  }
}
@media (max-width: 576px) {
  .seccion-ofrecemos-texto {
    padding: 10px 0px 0px 0px;
    top: 450px;
    height: 100%;
  }
}

/*h1 dentro del div de la seccion*/
.seccion-ofrecemos-titulo {
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

/*parrafo adentro del div*/
.seccion-ofrecemos-parrafo {
  font-size: 18px;
  color: white;
  padding: 10px;
}

/*seccion sobre opiniones*/
.seccion-opiniones {
  width: 100%;
  height: 650px;
  background: #283F3B;
  padding: 15px;
  gap: 50px;
  position: relative;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .seccion-opiniones {
    margin-bottom: 150px;
  }
}
@media (max-width: 576px) {
  .seccion-opiniones {
    height: 900px;
    margin-top: 600px;
    gap: 10px;
    margin-bottom: 200px;
  }
}

/*divs con los h1,p e img adentro*/
.seccion-opinion {
  margin: 10px;
  width: 35%;
}
@media (max-width: 576px) {
  .seccion-opinion {
    margin: 0px;
    width: 100%;
  }
}

/*img adentros de los div de opinion*/
.seccion-opiniones-img {
  width: 150px;
  height: 30px;
}

/*titulos dentro de los divs de opiniones*/
.seccion-opinion-titulo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/*img con los rostros de los clientes*/
.seccion-img {
  width: 50px;
  height: 50px;
  margin: 10px 0;
}

/*img adentro de la seccion opiniones*/
.seccion-opinion-img {
  width: 35%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 280px;
  left: 570px;
}
@media (max-width: 992px) {
  .seccion-opinion-img {
    left: 400px;
  }
}
@media (max-width: 768px) {
  .seccion-opinion-img {
    left: 300px;
    top: 380px;
  }
}
@media (max-width: 576px) {
  .seccion-opinion-img {
    width: 100%;
    height: 200px;
    left: 0px;
    top: 900px;
  }
}

/*parrafos adentro de la seccion opiniones*/
.seccion-opinion-parrafo {
  color: white;
  font-size: 15px;
}
@media (max-width: 576px) {
  .seccion-opinion-parrafo {
    font-size: 20px;
  }
}

/*editamos el footer*/
.pie-pagina-index {
  background-color: #99DDC8;
  width: 100%;
  margin-top: 150px;
  padding: 15px;
}
@media (max-width: 576px) {
  .pie-pagina-index {
    margin-top: 200px;
  }
}

/*editamos pie de pagina de los demas*/
.pie-pagina {
  background-color: #8dd3bd;
  width: 100%;
  padding: 15px;
}

/*div con las redes del footer*/
.redes-sociales {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/*modificamos el instagram del footer*/
.redes-sociales-insta {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/*editamos el copyright del pie de pagina*/
.pie-pagina-parrafo {
  color: white;
  font-weight: bold;
}

/*editamos icono sobre*/
.bi-envelope {
  color: white;
}
.bi-envelope:visited {
  color: white;
}

/* imagen adentro de todos los encabezados */
.encabezado-img {
  width: 100%;
  height: 500px;
}
@media (max-width: 992px) {
  .encabezado-img {
    height: 400px;
  }
}
@media (max-width: 576px) {
  .encabezado-img {
    height: 300px;
  }
}

/*modificamos encabezado lofts*/
.encabezado-lofts {
  width: 100%;
  background-color: #95BF74;
}

/*DIV con el h1 y ul del encabezado lofts*/
.encabezado-lofts-texto {
  background-color: white;
  width: 400px;
  padding: 10px;
  margin: 20px;
  border: 1px solid gray;
}
@media (max-width: 576px) {
  .encabezado-lofts-texto {
    width: 80%;
  }
}

/*modificamos h1 del encabezado de lofts*/
.encabezado-titulo {
  margin-left: 25px;
  text-decoration: underline;
  color: #283F3B;
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 576px) {
  .encabezado-titulo {
    font-size: 20px;
  }
}

/*modificamos ul que contiene li y a de encabezado lofts*/
.encabezado-listas {
  list-style: square;
  color: gray;
}

/*modificamos li de encabezado lofts*/
.encabezado-lista {
  margin: 20px 10px;
}

/*modificamos a del encabezado de lofts*/
.encabezado-lista-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: gray;
  list-style: square;
  text-decoration: none;
  /*cuando nos posicionamos sobre los links (a) del encabezado*/
}
.encabezado-lista-text:hover {
  transition: 0.5s;
  color: black;
}

/*section del loft 3*/
.principal-loft3 {
  background-color: #659b5e;
  width: 100%;
  padding: 30px;
}

/*modificamos div con h2 y p del loft 3*/
.texto-loft3 {
  width: 400px;
}
@media (max-width: 992px) {
  .texto-loft3 {
    width: 600px;
  }
}
@media (max-width: 576px) {
  .texto-loft3 {
    width: 80%;
  }
}

/*modificamos titulo h2 del loft3*/
#loft-indice3 {
  width: 400px;
  color: #d7c0c4;
  font-weight: 500;
}
@media (max-width: 576px) {
  #loft-indice3 {
    width: 100%;
  }
}

/*cambiamos la section de loft4*/
.principal-loft4 {
  background-color: #556F44;
  width: 100%;
  padding: 30px;
}

/*DIV con h2 y p del loft4*/
.texto-loft4 {
  width: 400px;
}
@media (max-width: 992px) {
  .texto-loft4 {
    width: 600px;
  }
}
@media (max-width: 576px) {
  .texto-loft4 {
    width: 80%;
  }
}

/*modificamos el titulo h3 del loft4*/
#loft-indice4 {
  width: 400px;
  color: #d7c0c4;
  font-weight: 500;
}
@media (max-width: 576px) {
  #loft-indice4 {
    width: 100%;
  }
}

/*modificamos los parrafos de ambos lofts 3 y 4*/
.parrafo-loft {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 500;
  text-align: left;
  margin-top: 25px;
}

/* iframe de los videos de loft 3 y loft4*/
.video-loft {
  width: 500px;
  height: 400px;
  margin-top: 20px;
  border: 1px solid white;
}
@media (max-width: 992px) {
  .video-loft {
    width: 600px;
    height: 360px;
    margin-left: 50px;
  }
}
@media (max-width: 768px) {
  .video-loft {
    width: 90%;
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  .video-loft {
    margin-left: 15px;
  }
}

/*modificamos la section de incluyen*/
.principal-incluye {
  background-color: #283F3B;
  width: 100%;
}

/* div que incluye h2, ul, li de servicios del archivo lofts*/
.servicios {
  width: 50%;
  margin-top: 20px;
  margin-left: 40px;
}

/*modificamos los parrafos de la seccion incluye en los lofts*/
.incluye-listas {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 500;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*modificamos el li del ul del main de lofts*/
.incluye-lista {
  padding: 10px;
}

/*modificamos h4 de la seccion servicion de loft*/
#incluye-indice {
  width: 400px;
  color: #d7c0c4;
  font-weight: 500;
}
@media (max-width: 576px) {
  #incluye-indice {
    width: 100%;
  }
}

/*modificamos encabezado de experiencias*/
.encabezado-exp {
  background-color: #95BF74;
}

/* modificamos el main de experiencias*/
.principal-experiencias {
  background-color: #659b5e;
  width: 100%;
  padding: 20px;
}

/*seccion del main de experinecias con h1 y p*/
.section-experiencias {
  width: 90%;
  margin: auto;
  padding: 15px;
  border: 2px solid white;
}

/*modificamos el h1 del archivo experiencias*/
.titulo-experiencias {
  color: white;
  font-weight: 500;
}

/*modificamos los parrafos dentro del main del archivo experiencias*/
.parrafo-exp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 500;
  text-align: left;
  padding: 10px;
}

/*aside de experiencias*/
.secundario-exp {
  width: 100%;
}

/*modifcamos primera imagen del aside de experiencias*/
.img-exp1 {
  width: 410px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid gray;
  margin: 10px;
}

/*modifcamos segunda imagen del aside de experiencias*/
.img-exp2 {
  width: 410px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid gray;
  margin: 10px;
}

/*modifcamos tercera imagen del aside de experiencias*/
.img-exp3 {
  width: 410px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid gray;
  margin: 10px;
}

/*modificamos encabezado de ubicacion*/
.encabezado-ubic {
  background-color: #95BF74;
}

/*modificamos  main de ubicacion*/
.principal-ubic {
  background-color: #556F44;
}

/*h1 y p del main de ubicacion*/
.texto-ubic {
  padding: 10px;
  text-align: left;
  margin-left: 20px;
}

/*modificamos el h1 de ubicacion*/
.titulo-ubic {
  color: #283F3B;
  font-weight: bolder;
  padding: 10px;
}

/*modificamos los parrafos del main de ubicacion*/
.parrafo-ubic {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 500;
  padding: 10px;
  margin-right: 100px;
}
@media (max-width: 576px) {
  .parrafo-ubic {
    width: 90%;
  }
}

/*caja con las localidades cercanas en ubicacion*/
.localidades {
  background-color: #283F3B;
  width: 400PX;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid white;
}
@media (max-width: 576px) {
  .localidades {
    width: 90%;
  }
}

/* iframe del maps en ubicacion*/
.mapa-ubic {
  width: 100%;
  height: 450px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

/*h1 dentro del encabezado de consultas*/
.titulo-consultas {
  background-color: #5c8578;
  width: 100%;
  font-size: 30px;
  color: white;
  text-align: center;
  text-decoration: underline;
  margin-top: 80px;
  margin-bottom: 0;
  padding: 15px;
}

/*modificamos el color del main de consultas*/
.principal-consultas {
  background-color: #5c8578;
  width: 100%;
  gap: 200px;
  padding-bottom: 30px;
}

/*imagen en el main de consultas*/
.img-consulta {
  width: 300px;
  height: 430px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  /*desactivamos la img para este tamaño de pantallas*/
}
@media (max-width: 992px) {
  .img-consulta {
    display: none;
  }
}

/*modifcamos parrafos dentro del formulario*/
.formulario-usuario {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 500;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 40%;
}
@media (max-width: 992px) {
  .formulario-usuario {
    font-size: 16px;
    width: 60%;
  }
}
@media (max-width: 576px) {
  .formulario-usuario {
    width: 90%;
  }
}

/* div del formulario de consultas*/
.formulario-usuario-grupo {
  padding-top: 10px;
  width: 90%;
}

.formulario-usuario-grupo-input {
  border: 1px solid white;
  /*modificamos los imput del formulario al hacerle click*/
}
.formulario-usuario-grupo-input:focus {
  outline: none;
}

/*modificamos el boton para enviar el formulario*/
.boton-enviar {
  border-radius: 5px;
  padding: 2px 5px 2px 2px;
  background-color: white;
  color: black;
  background-color: rgb(214, 212, 212);
}/*# sourceMappingURL=style.css.map */