
@import "./scss/reset";
@import "./scss/navegador";
@import "./scss/index/index-encabezado";
@import "./scss/index/index-ofrecemos";
@import "./scss/index/index-opiniones";
@import "./scss/footer";
@import "./scss/lofts/lofts-encabezado";
@import "./scss/lofts/lofts3";
@import "./scss/lofts/lofts4";
@import "./scss/lofts/lofts-incluye";
@import "./scss/experiencias/experiencias";
@import "./scss/experiencias/experiencias-aside";
@import "./scss/ubicacion/ubicacion";
@import "./scss/contacto/contacto";
@import "./scss/contacto/formulario";



/*aplicamos medias query para pantallas desde 1024px a 992px*/
@media(max-width:1024px){
    /* seccion con imagen y div*/
    .seccion-ofrecemos{
        height: 1000px;
        margin-bottom: 0px;
    }

    /*img dentro de la seccion*/
    .seccion-ofrecemos-img{
        height: 50%;
        width: 100%;
        margin-left: 0px;
    }

    /*div con el h1 y parrafors*/
    .seccion-ofrecemos-texto{
        width: 100%;
        height: 400px;
        left: 0px;
        top: 750px;
    }
    }

    /*aplicamos medias query para pantallas desde 992px a 768px*/
    @media(max-width:992px){
    /*img adentro de la seccion opiniones*/
    .seccion-opinion-img{
        left: 400px;
    }
    /*modificamos las img de los encabezados*/
    .encabezado-img{
        height: 400px;
    }
    /*modificamos el formulario del archivo contacto*/
    .formulario-usuario{
        font-size: 16px;
        width: 60%;
    }
    /*desactivamos la img para este tamaño de pantallas*/
    .img-consulta{
        display: none;
    }
    /*modificamos div con h2 y p del loft 3*/
    .texto-loft3{
        width: 600px;
    }
    .texto-loft4{
        width: 600px;
    }
    /* iframe de los videos de loft 3 y loft4*/
    .video-loft{
        width: 600px; 
        height: 360px;
        margin-top: 20px;
        margin-left: 50px;
    }
}

/*aplicamos medias query para pantallas desde 768px a 576px*/
@media(max-width:768px){
    .body{
        width: 100%;
    }
    /*modificamos el h1 del encabezado*/
    .encabezado-index-titulo{
        font-size: 25px;
}
    /*parrafo del encabezado del index*/
    .encabezado-index-par{
        font-size: 20px;
    } 
    /*img dentro de la seccion*/
    .seccion-ofrecemos-img{
        height: 40%;
    }
    /*img adentro de la seccion opiniones*/
    .seccion-opinion-img{
        left: 300px;
    }
    /* iframe de los videos de loft 3 y loft4*/
    .video-loft{
        width: 90%; 
        height: 360px;

        margin-left: 0px;
        border: 1px solid white;
    }
}
/*aplicamos medias query para pantallas menores a 576px*/
@media(max-width:576px){
      /*modificamos las img de los encabezados*/
      .encabezado-img{
        height: 400px;
    }

    /*modificamos el h1 del encabezado*/
    .encabezado-index-titulo{
        font-size: 25px;
    }
    /*parrafo del encabezado del index*/
    .encabezado-index-par{
        font-size: 16px;
    }
    .seccion-ofrecemos{
        height: 100%;
    }
    /*modificamos la seccion ofrecemos del index*/
    .seccion-ofrecemos-texto{
        width: 100%;
        padding: 10px 0px 0px 0px;
        top: 450px;
        height: 100%;
    }
    /*seccion sobre opiniones*/
    .seccion-opiniones{
        height: 900px;
        background-color:#283F3B;
        padding: 15px;
        margin-top: 600px;
        gap: 10px;
    }
    /*divs con los h1,p e img adentro*/
    .seccion-opinion{
        margin: 0px;
        width: 100%;
    }
    /*img adentro de la seccion opiniones*/
    .seccion-opinion-img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        top: 900px;
        left: 0px;
    }
    /*parrafos adentro de la seccion opiniones*/
    .seccion-opinion-parrafo{
        font-size: 20px;
    }
    /*editamos el footer*/
    .pie-pagina-index{
        margin-top: 200px;
        padding: 15px;
    }
        /* imagen adentro de todos los encabezados */
    .encabezado-img{
        height: 400px;
    }
    /*DIV con el h1 y ul del encabezado lofts*/
    .encabezado-lofts-texto{
        width: 80%;
    }

    /*modificamos h1 del encabezado de lofts*/
    .encabezado-titulo{
    font-size: 20px;
    }
    /*modificamos div con h2 y p del loft 3*/
    .texto-loft3{
        width: 80%;
    }
    .texto-loft4{
        width: 80%;
    }
    /* iframe de los videos de loft 3 y loft4*/
    .video-loft{
        width: 90%; 
        height: 360px;
        margin-top: 20px;
        margin-left: 15px;
    }
    /*modificamos titulo del loft3*/
    #loft-indice3{
        width: 100%;   
     }
     /*modificamos titulo del loft4*/
     #loft-indice4{
        width: 100%;   
     }
     #incluye-indice{
        width: 100%;
     }
     .localidades{
        width: 90%;
    }
    .parrafo-ubic{
        width: 90%;
    }
    /*modificamos el formulario del archivo contacto*/
    .formulario-usuario{
        font-size: 16px;
        width: 90%;
    }
}