/*section del loft 3*/
.principal-loft3{
    background-color: #659B5E;
    width: 100%;
    padding: 30px;
}

/*modificamos div con h2 y p del loft 3*/
.texto-loft3{
    width: 400px;
    @media(max-width:992px){
        width: 600px;
    }
    @media(max-width:576px){
        width: 80%;
    }
}

/*modificamos titulo h2 del loft3*/
#loft-indice3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 400px;
    color: #d7c0c4;
    font-weight: 500;
    font-variant: small-caps;
    text-decoration: underline;
    text-align: left;
    @media(max-width:576px){
        width: 100%;   
    }
}
