/*cambiamos la section de loft4*/
.principal-loft4{
    background-color: #556F44;
    width: 100%;
    padding: 30px;
}    

/*DIV con h2 y p del loft4*/
.texto-loft4{
    width: 400px;
    @media(max-width:992px){
        width: 600px;
    }
    @media(max-width:576px){
        width: 80%;
    }
}

/*modificamos el titulo h3 del loft4*/
#loft-indice4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 400px;
    color: #d7c0c4;
    font-weight: 500;
    font-variant: small-caps;
    text-decoration: underline;
    text-align: left;
    @media(max-width:576px){
        width: 100%;   
    }
}

/*modificamos los parrafos de ambos lofts 3 y 4*/
.parrafo-loft{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 500;
    text-align: left;
    margin-top: 25px;
}
/* iframe de los videos de loft 3 y loft4*/
.video-loft{
    width: 500px; 
    height: 400px;
    margin-top: 20px;
    border: 1px solid white;
    @media(max-width:992px){
        width: 600px; 
        height: 360px;
        margin-left: 50px;
    }
    @media(max-width:768px){
        width: 90%; 
        margin-left: 0px;
    }
    @media(max-width:576px){
        margin-left: 15px;
    }
}
