/*cambiamos la section de loft4*/
.principal-loft4{
    background-color: $color-secundario;
    width: 100%;
    padding: 30px;
}    

/*DIV con h2 y p del loft4*/
.texto-loft4{
    width: 400px;
    @media(max-width:992px){
        width: 600px;
    }
    @media(max-width:576px){
        width: 80%;
    }
}

/*modificamos el titulo h3 del loft4*/
#loft-indice4{
    @extend %titulos;
    width: 400px;
    color: $color-parrafos;
    font-weight: 500;
    @media(max-width:576px){
        width: 100%;   
    }
}

/*modificamos los parrafos de ambos lofts 3 y 4*/
.parrafo-loft{
    font-family: Arial, Helvetica, sans-serif;
    font-size: $parrafos-size;
    color: $color-parrafos;
    font-weight: 500;
    text-align: left;
    margin-top: 25px;
}
/* iframe de los videos de loft 3 y loft4*/
.video-loft{
    width: 500px; 
    height: 400px;
    margin-top: 20px;
    border: 1px solid $color-parrafos;
    @media(max-width:992px){
        width: 600px; 
        height: 360px;
        margin-left: 50px;
    }
    @media(max-width:768px){
        width: 90%; 
        margin-left: 0px;
    }
    @media(max-width:576px){
        margin-left: 15px;
    }
}
