/*aside de experiencias*/
.secundario-exp{
    width: 100%;
}

/*modifcamos imagenes del aside de experiencias*/
.img-exp1{
    width: 410px;
    height: 400px;
    object-fit: cover;
    border: $border-img;
    margin: 10px;
}

