/*modificamos encabezado de experiencias*/
.encabezado-exp{
    background-color: #95BF74;
}

/* modificamos el main de experiencias*/
.principal-experiencias{
    background-color: $color-principal;
    width: 100%;
    padding: 20px;
}
/*seccion del main de experinecias con h1 y p*/
.section-experiencias{
    width: 90%;
    margin: auto;
    padding: 15px;
    border: 2px solid $color-parrafos;
}

/*modificamos el h1 del archivo experiencias*/
.titulo-experiencias{
    @extend %titulos;
    color:  $color-parrafos;
    font-weight: 500;
       
}

/*modificamos los parrafos dentro del main del archivo experiencias*/
.parrafo-exp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: $parrafos-size;
    color: $color-parrafos;
    font-weight: 500;
    text-align: left;
    padding: 10px; 
}