/*aside de experiencias*/
.secundario-exp{
    width: 100%;
}

/*modifcamos primera imagen del aside de experiencias*/
.img-exp1{
    width: 410px;
    height: 400px;
    object-fit: cover;
    border: $border-img;
    margin: 10px;
}
/*modifcamos segunda imagen del aside de experiencias*/
.img-exp2{
    width: 410px;
    height: 400px;
    object-fit: cover;
    border: $border-img;
    margin: 10px;
}
/*modifcamos tercera imagen del aside de experiencias*/
.img-exp3{
    width: 410px;
    height: 400px;
    object-fit: cover;
    border: $border-img;
    margin: 10px;
}
