/*modificamos encabezado de ubicacion*/
.encabezado-ubic{
    background-color: $color-loft-encabezado;
}

/*modificamos  main de ubicacion*/
.principal-ubic{
    background-color: $color-secundario;
}

/*h1 y p del main de ubicacion*/
.texto-ubic{
    padding: 10px;
    text-align: left;
    margin-left: 20px;
}

/*modificamos el h1 de ubicacion*/
.titulo-ubic{
    @extend %titulos;
    color: $color-terciario;
    font-weight: bolder;
    padding: 10px; 
}    

/*modificamos los parrafos del main de ubicacion*/
.parrafo-ubic{
    font-family: Arial, Helvetica, sans-serif;
    font-size: $parrafos-size;
    color: $color-parrafos;
    font-weight: 500;
    padding: 10px;
    margin-right: 100px;
    @media(max-width:576px){
        width: 90%;
    }
}

/*caja con las localidades cercanas en ubicacion*/
.localidades{
    background-color: $color-terciario;
    width: 400PX;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid $color-parrafos;
    @media(max-width:576px){
        width: 90%;
    }
}
/* iframe del maps en ubicacion*/
.mapa-ubic{
    width:100%;
    height:450px;
    border-top: 3px solid $color-parrafos;
    border-bottom: 3px solid $color-parrafos;
}