/*header con un h1 y un parrafo*/
.encabezado-index{
    width: 100%;
    margin-top: 120px;
    margin-bottom: 15px;
}
/*modificamos el h1 del encabezado*/
.encabezado-index-titulo{
    font-size: 20px;
    color: #95BF74;
    font-weight: bolder;
    @media(max-width:768px){
        font-size: 25px;
    }
}
/*parrafo del encabezado del index*/
.encabezado-index-par{
    font-size: 15px;
    color: gray;
    @media(max-width:768px){
        font-size: 20px;
    }
    @media(max-width:576px){
        font-size: 16px;
    }
     
}